<!DOCTYPE html>
<html>
    <head>
        <title> Django Workshop </title>
    </head>
    <body>

		{% if message %}
    		{{ message }} <br> <br>
		{% endif %}

    	{% if movies %}
            {% for movie in movies %}
            	<li> <a href="/movies/remove/?id={{ movie.pk }}"> [x] </a> {{ movie.name }} </li>
            {% endfor %}
        {% else %}
                No movies added so far. <br>
        {% endif %}  <br>

        <form action="/movies/" method="post"> {% csrf_token %}
        	{{ form.as_table }}
            <input type="submit" value="Add">
        </form>

    </body>
</html>
